<style type="text/css">
    body {
      background: #d3eeff !important;
    }
</style>

<h1 style="text-align:center;">Zing Upload</h1>
<p style="text-align:center;">
  Cloud storage for when you need it.
<p>
